.planet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
  }
  
  .planet--earth {
    width: 200px;
    height: 200px;
    color: white;
  }
  
  .planet--mars {
    width: 100px;
    height: 100px;
  }
  